.new{
    width: 100%;
    display: flex;
}
.new .newContainer{
    flex: 6;
}
.newContainer .new_top h1{
    font-size: 20px;
}
.newContainer 
.new_footer{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}
.new_top,.new_footer h1{
    color: rgb(251, 5, 5);
    font-size: 20px;
}
.new_top,.new_footer .left{
    flex: 1;
    text-align: center;
}
.new_top,.new_footer .left img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.new_top,.new_footer .right{
    flex: 2;
}
.new_top,.new_footer .right form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}
.new_top,.new_footer .right form .formInput{
    width: 40%;
}
.new_top,.new_footer .right form .formInput label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.new_footer .right form .formInput label .icon{
    cursor: pointer;
}
.new_footer .right form .formInput input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}
.new_footer .right form button{
    width: 150px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
.new_footer .right form button:disabled {
    background-color: teal;
    color: red;
}